body{
  /* background-color: rgb(203, 211, 211); */
}
.modau, .than{
  display: flex; 
}
.than1{
  width: 50%;
}
.than2{
  width: 40%;
}
.logo{
  padding-left: 15px;
  padding-top: 5px;
}
a{
  text-align: center;
  /* margin: 0 auto; */
  padding-top: 9px;
  padding-left: 5px;
  font-size: 22px;
}
.than{
  padding-left: 60px;
}

.than1 .p1{
  font-size: 43px;
  line-height: 120%;
  font-family: sans-serif;
  margin-bottom: 25px;
}
.than1 .p2{
  font-size: 18px;
  font-family: sans-serif;
  color: gray;
  margin: 0;
}
.button{
  margin: 6px 6px 6px 6px;
  font-family: sans-serif;
  border-color: rgb(136, 133, 133);
}
.button button{
  background-color: rgb(63, 180, 196);
  padding: 10px 10px 10px 10px;
  font-size: 22px;
  color: rgb(65, 63, 63);
  border-radius: 10%;
}
.button input{
  padding: 10px 10px 10px 10px;
  font-size: 21px;
  border-color: rgb(136, 133, 133);
  border-radius: 10%;
}
.than2{
  padding-top: 50px;
  /* padding-left: 150px; */
  text-align: center;
}
.than2 img{
  height: 350px;
  width: 350px;
}
.p21{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: gray;
}
.p22{
  font-family: sans-serif;
}
